<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kufa - Personal Portfolio HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../resource/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resource/css/animate.min.css">
    <link rel="stylesheet" href="../resource/css/magnific-popup.css">
    <link rel="stylesheet" href="../resource/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../resource/css/flaticon.css">
    <link rel="stylesheet" href="../resource/css/slick.css">
    <link rel="stylesheet" href="../resource/css/aos.css">
    <link rel="stylesheet" href="../resource/css/default.css">
    <link rel="stylesheet" href="../resource/css/style.css">
    <link rel="stylesheet" href="../resource/css/responsive.css">
</head>
<body class="theme-bg">


<!-- main-area -->
{{block "main" .}}
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="breadcrumb-content text-center">
                            <h2>BLOG POST</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.gohtml">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">News & Media</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-area -->
        <section class="blog-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-blog-list mb-60">
                            <div class="blog-list-thumb mb-35">
                                <a href="/blog-details"><img
                                            src="../resource/img/blog/blog_list_thumb01.jpg" alt="img"></a>
                            </div>
                            <div class="blog-list-content">
                                <div class="blog-list-tag mb-10">
                                    <ul>
                                        <li><i class="fas fa-tags"></i></li>
                                        <li><a href="#">Warehouse,</a></li>
                                        <li><a href="#">Ocean Freight</a></li>
                                    </ul>
                                </div>
                                <h2><a href="/blog-details">Ocean Shipping Lines Word Relationship</a>
                                </h2>
                                <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                <div class="blog-list-meta">
                                    <ul>
                                        <li class="blog-post-date"><i class="far fa-clock"></i>February 22, 2019</li>
                                        <li class="blog-more-read"><a href="/blog-details">More
                                                Reading...</a></li>
                                        <li class="blog-post-share">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-list mb-60">
                            <div class="blog-list-thumb mb-35">
                                <a href="/blog-details"><img
                                            src="../resource/img/blog/blog_list_thumb02.jpg" alt="img"></a>
                            </div>
                            <div class="blog-list-content">
                                <div class="blog-list-tag mb-10">
                                    <ul>
                                        <li><i class="fas fa-tags"></i></li>
                                        <li><a href="#">Warehouse,</a></li>
                                        <li><a href="#">Ocean Freight</a></li>
                                    </ul>
                                </div>
                                <h2><a href="/blog-details">Logistic Generally Detailed Organiza</a>
                                </h2>
                                <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                <div class="blog-list-meta">
                                    <ul>
                                        <li class="blog-post-date"><i class="far fa-clock"></i>February 22, 2019</li>
                                        <li class="blog-more-read"><a href="/blog-details">More
                                                Reading...</a></li>
                                        <li class="blog-post-share">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-list mb-60">
                            <div class="blog-list-thumb mb-35">
                                <a href="/blog-details"><img
                                            src="../resource/img/blog/blog_list_thumb03.jpg" alt="img"></a>
                            </div>
                            <div class="blog-list-content">
                                <div class="blog-list-tag mb-10">
                                    <ul>
                                        <li><i class="fas fa-tags"></i></li>
                                        <li><a href="#">Warehouse,</a></li>
                                        <li><a href="#">Ocean Freight</a></li>
                                    </ul>
                                </div>
                                <h2><a href="/blog-details">Real-life People Fictional Characters</a>
                                </h2>
                                <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                <div class="blog-list-meta">
                                    <ul>
                                        <li class="blog-post-date"><i class="far fa-clock"></i>February 22, 2019</li>
                                        <li class="blog-more-read"><a href="/blog-details">More
                                                Reading...</a></li>
                                        <li class="blog-post-share">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrap mt-30 text-center">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a href="#"><i class="fas fa-chevron-left"></i></a></li>
                                    <li class="page-item"><a href="#">01</a></li>
                                    <li class="page-item"><a href="#">02</a></li>
                                    <li class="page-item active"><a href="#">03</a></li>
                                    <li class="page-item"><a href="#">...</a></li>
                                    <li class="page-item"><a href="#">10</a></li>
                                    <li class="page-item"><a href="#"><i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
                            <div class="widget mb-40">
                                <div class="single-sidebar search-sidebar-md">
                                    <div class="sidebar-title mb-25">
                                        <h3>Search</h3>
                                    </div>
                                    <div class="sidebar-form">
                                        <form action="#">
                                            <input type="text" placeholder="Search type...">
                                            <button><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="widget mb-40">
                                <div class="single-sidebar primary-bg">
                                    <div class="sidebar-title mb-25">
                                        <h3>Post Category</h3>
                                    </div>
                                    <div class="cat-list">
                                        <ul>
                                            <li><a href="#">Retail & Consumer <span>(14)</span></a></li>
                                            <li><a href="#">Sciences & Healthcare <span>(09)</span></a></li>
                                            <li><a href="#">Ocean Freight <span>(03)</span></a></li>
                                            <li><a href="#">Electricity Freight <span>(02)</span></a></li>
                                            <li><a href="#">Transportation <span>(07)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget mb-40">
                                <div class="single-sidebar primary-bg">
                                    <div class="sidebar-title mb-25">
                                        <h3>Recent Posts</h3>
                                    </div>
                                    <div class="rc-post">
                                        <ul>
                                            <li>
                                                <div class="rc-post-thumb">
                                                    <a href="#"><img src="../resource/img/blog/rc_post_thumb01.jpg"
                                                                     alt="img"></a>
                                                </div>
                                                <div class="rc-post-content">
                                                    <h5><a href="#">Express Manegment Effective</a></h5>
                                                    <span>November 22, 2019</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="rc-post-thumb">
                                                    <a href="#"><img src="../resource/img/blog/rc_post_thumb02.jpg"
                                                                     alt="img"></a>
                                                </div>
                                                <div class="rc-post-content">
                                                    <h5><a href="#">Customer Logisties Process Overall</a></h5>
                                                    <span>November 22, 2019</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="rc-post-thumb">
                                                    <a href="#"><img src="../resource/img/blog/rc_post_thumb03.jpg"
                                                                     alt="img"></a>
                                                </div>
                                                <div class="rc-post-content">
                                                    <h5><a href="#">Supply is warehouse Effective</a></h5>
                                                    <span>November 22, 2019</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="single-sidebar primary-bg">
                                    <div class="sidebar-title mb-25">
                                        <h3>Tags Posts</h3>
                                    </div>
                                    <div class="tag-list">
                                        <ul>
                                            <li><a href="#">Air Freight</a></li>
                                            <li><a href="#">Railway</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="#">Warehouse</a></li>
                                            <li><a href="#">Was</a></li>
                                            <li><a href="#">Logistic</a></li>
                                            <li><a href="#">Requirement</a></li>
                                            <li><a href="#">Process</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

    </main>
{{end}}
<!-- main-area-end -->


<!-- JS here -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../resource/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../resource/js/popper.min.js"></script>
<script src="../resource/js/bootstrap.min.js"></script>
<script src="../resource/js/isotope.pkgd.min.js"></script>
<script src="../resource/js/one-page-nav-min.js"></script>
<script src="../resource/js/slick.min.js"></script>
<script src="../resource/js/ajax-form.js"></script>
<script src="../resource/js/wow.min.js"></script>
<script src="../resource/js/aos.js"></script>
<script src="../resource/js/jquery.waypoints.min.js"></script>
<script src="../resource/js/jquery.counterup.min.js"></script>
<script src="../resource/js/jquery.scrollUp.min.js"></script>
<script src="../resource/js/imagesloaded.pkgd.min.js"></script>
<script src="../resource/js/jquery.magnific-popup.min.js"></script>
<script src="../resource/js/plugins.js"></script>
<script src="../resource/js/main.js"></script>
</body>


</html>
