<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kufa - Personal Portfolio HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../resource/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resource/css/animate.min.css">
    <link rel="stylesheet" href="../resource/css/magnific-popup.css">
    <link rel="stylesheet" href="../resource/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../resource/css/flaticon.css">
    <link rel="stylesheet" href="../resource/css/slick.css">
    <link rel="stylesheet" href="../resource/css/aos.css">
    <link rel="stylesheet" href="../resource/css/default.css">
    <link rel="stylesheet" href="../resource/css/style.css">
    <link rel="stylesheet" href="../resource/css/responsive.css">
</head>
<body class="theme-bg">

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
        </div>
    </div>
</div>
<!-- preloader-end -->


{{block "main" .}}
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="breadcrumb-content text-center">
                            <h2>Portfolio Single POST</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">PORTFOLIO DETAILS</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- portfolio-details-area -->
        <section class="portfolio-details-area pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="single-blog-list">
                            <div class="blog-list-thumb mb-35">
                                <img src="../resource/img/images/portfolio_details.jpg" alt="img">
                            </div>
                            <div class="blog-list-content blog-details-content portfolio-details-content">
                                <span>Creative Art</span>
                                <h2>Consectetur neque elit quis nunc cras elementum</h2>
                                <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus. Was popularised in the 1960s
                                    withs
                                    the release of Letraset
                                    sheets containing Lorem Ipsum passags, and more recently with desktop publishing
                                    software
                                    like Aldus PageMaker including
                                    versions.</p>
                                <p>Rxpress dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestlibers dolosr auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                <blockquote>
                                    Elementum pretiumi Nullam justo efficitur trist ligula pellentesqe ipsum quisque augue
                                    psum
                                    vehicula tellus tellus vitae
                                    condimem maximus.
                                </blockquote>
                                <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur, trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.Express dolor sit amet,
                                    consectetur adipiscing elit. Cras
                                    sollicitudin, tellus vitae condimem egestliberos dolor auctor tellus, eu consectetur
                                    neque elit quis nunc.</p>
                                <div class="portfolio-details-img">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../resource/img/images/portfolio_details01.jpg" alt="img">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="../resource/img/images/portfolio_details02.jpg" alt="img">
                                        </div>
                                    </div>
                                </div>
                                <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                                    condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus. Was popularised in the 1960s
                                    withs
                                    the release of Letraset
                                    sheets containing Lorem Ipsum passags, and more recently with desktop publishing
                                    software
                                    like Aldus PageMaker including
                                    versions.</p>
                                <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus vitae condimem
                                    egestliberos dolor auctor
                                    tellus, eu consectetur neque elit quis nunc. Cras elementum pretiumi Nullam justo
                                    efficitur,
                                    trist ligula pellentesque
                                    ipsum. Quisque thsr augue ipsum, vehicula tellus maximus.</p>
                                <div class="blog-list-meta">
                                    <ul>
                                        <li class="blog-post-date">
                                            <div class="blog-details-tag">
                                                <i class="fas fa-tags"></i>
                                                <a href="#">Warehouse</a>
                                                <a href="#">Ocean</a>
                                                <a href="#">Freight</a>
                                                <a href="#">Railway</a>
                                            </div>
                                        </li>
                                        <li class="blog-post-share">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="avatar-post mt-70 mb-60">
                                <ul>
                                    <li>
                                        <div class="post-avatar-img">
                                            <img src="../resource/img/blog/post_avatar_img.png" alt="img">
                                        </div>
                                        <div class="post-avatar-content">
                                            <h5>Thomas Herlihy</h5>
                                            <p>Vehicula dolor amet consectetur adipiscing elit. Cras sollicitudin, tellus
                                                vitae
                                                condimem
                                                egestliberos dolor auctor
                                                tellus.</p>
                                            <div class="post-avatar-social mt-15">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-next-prev">
                                <ul>
                                    <li class="blog-prev">
                                        <a href="#"><img src="../resource/img/icon/left_arrow.png" alt="img">Previous Post</a>
                                    </li>
                                    <li class="blog-next">
                                        <a href="#">Next Post<img src="../resource/img/icon/right_arrow.png" alt="img"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- portfolio-details-area-end -->

    </main>
{{end}}



<!-- JS here -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../resource/../resource/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../resource/../resource/js/popper.min.js"></script>
<script src="../resource/../resource/js/bootstrap.min.js"></script>
<script src="../resource/../resource/js/isotope.pkgd.min.js"></script>
<script src="../resource/../resource/js/one-page-nav-min.js"></script>
<script src="../resource/../resource/js/slick.min.js"></script>
<script src="../resource/../resource/js/ajax-form.js"></script>
<script src="../resource/../resource/js/wow.min.js"></script>
<script src="../resource/../resource/js/aos.js"></script>
<script src="../resource/../resource/js/jquery.waypoints.min.js"></script>
<script src="../resource/../resource/js/jquery.counterup.min.js"></script>
<script src="../resource/../resource/js/jquery.scrollUp.min.js"></script>
<script src="../resource/../resource/js/imagesloaded.pkgd.min.js"></script>
<script src="../resource/../resource/js/jquery.magnific-popup.min.js"></script>
<script src="../resource/../resource/js/plugins.js"></script>
<script src="../resource/../resource/js/main.js"></script>
</body>


</html>
